<% semantic_form_for @place do |f| %>
  <% f.inputs do %>
    <%= f.input :name, :label => 'Nombre', :hint => 'El nombre con el que se conoce tu establecimiento'%>
    
    <%= f.input :cmoney, :label => 'Dinero requerido', :hint => 'Es la cantidad de dinero promedio que necesita una persona para tener una buena experiencia en tu sitio, incluye el cover b치sico'%>
      
    <%= f.input :copen, :label => 'Horario', :hint => 'Elige la franja de horario en el cual tienes mas clientes comunmente'%>
      
    <%= f.input :description, :label => 'Descripci칩n', :hint => 'La descripci칩n que aparecer치 en la visualizacion de tu sitio, procura que sea corta pero cautivante'%>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>

<h3><%= t('linked_addresses') %></h3>
<table>
  <tr>
    <th><%= t('activerecord.models.address.other') %></th>
    <th><%= t('description') %></th>
    <th></th>
    <th></th>
  </tr>

  <% @place.addresses.each do |address| %>
    <tr>
      <%= '<b>'.html_safe if address.main_venue -%>
      
      <td><%= address.name %></td>
      <td><%= address.description %></td>
      
      <td><%= link_to 'Edit', edit_address_path(address, :place_id => @place.id.to_s) %></td>
      <td><%= link_to 'Destroy', address, :confirm => 'Are you sure?', :method => :delete, :place_id => @place.id.to_s %></td>
      
      <%= '</b>'.html_safe if address.main_venue -%>
    </tr>
  <% end %>
  <tr>
    <td colspan="4"><%= link_to t('new_address'), new_address_path(:place_id => @place.id.to_s) %></td>
  </tr>
</table>






