<% if current_user and (current_user.role?('megaadmin') || current_user.role?('admin'))%>
<%= render :partial => "admininterface" %><% end -%>

<h2>Sitios que concuerdan con tus criterios de búsqueda:</h2>
<div class="listadobonito">
  <% @places.each do |place| %>

    <p class="indplacesmoney"><%= number_to_currency(place.cmoney.name)%> <br /><%= place.copen.name%></p>
    <h3 class="indplacesname"><%= link_to place.name, place %></h3>
    <p class="indplacesdescr"><%= place.description[0..100] %></p>
  <% end %>

</div>

